.n9-launcher-transparent-wrapper { background: alpha(@theme_base_color, 0.1); }

.n9-launcher-toplevel { background: alpha(@theme_bg_color, 0.85); border-radius: 5px; }

.n9-launcher-scrollwindow { border: 0; margin: 0 8px 8px; }

.n9-launcher-resultbox { background: transparent; margin: 0; }

.n9-launcher-searchbar { background: alpha(@theme_base_color, 0.85); font-size: 1.4em; margin: 8px; padding-bottom: 3px; min-height: 36px; }
