.n9-settings-pane-box { padding: 10px; }

.n9-settings-group-title { font-weight: bold; margin: 10px 0; }

.n9-settings-row { padding: 8px; border: 1px solid shade(@theme_bg_color, 0.8); }
.n9-settings-row:not(:first-child) { border-top-width: 0; }

.n9-settings-description { font-size: 0.9em; color: shade(@theme_fg_color, 1.2); }
