.notification {
	background: alpha(@theme_bg_color, 0.94);
	border-radius: 6px;
}

button {
	border: none;
	border-radius: 0;
	opacity: 0.9;
}
:dir(ltr) button:first-child { border-top-right-radius: 5px; }
:dir(ltr) button:last-child { border-bottom-right-radius: 6px; }
:dir(rtl) button:first-child { border-top-left-radius: 5px; }
:dir(rtl) button:last-child { border-bottom-left-radius: 6px; }
